<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" /> 
</head>
<body>
	<div id="bloc_page">
	                    <div >  
	                      <header> 
	                          <h1>Welcome  ! </h1>
	                          <h1>Endomondo community like tracking of sport</h1>
	                      </header>
	                    </div>
	                    
	</div>
	
	<section>

           <article>
					<ul>
					  <li> <a href="#/displayusers">Registered users </a> </li>
					  <li> <a href="#/displayplans">Registered challenges </a></li>
					  <li> link3</li>
					</ul>
		    </article>
	            <aside>
	                <p>
				    <img src = "images/facadeEndo2.png"
					 alt = "" />	
                    </p>
	            
	            </aside>
	        
	 </section>				
	 
	 <br/> 
	 
	 <br/> <br/> 
	<!--  Le footer   -->
	
    	<footer>
 	         <div id="about">
                    <h3>About</h3>
                    <p>
                      Endomondo is a sport tracking device for </p>
                      the sport community </br> 
                       
                    </p>
                </div>
                <div id="informations">
                    <h3>Informations</h3>
                     Watch the site
                </div>
                <div id="help">
                    <h3>Help</h3>
                    <ul>
                        <li><a href="#">Jhon</a></li>
                        <li><a href="#">Jacky</a></li>
                        <li><a href="#">Alan</a></li>
                    </ul>
                   
                </div>
	    </footer>
</body>
