<!DOCTYPE html>
<html>
    <head> 
       <title> Boostrape </title>
       <meta name="viewport"  content="width=device-width, initial-scale=1.0">
       <link href="views/css/bootstrap.min.css"  rel="stylesheet">
       <link href="views/css/style.css"  rel="stylesheet">
       <link rel="stylesheet" href="styles/main.css">
    </head>
  
   <body> 
    
        <!--  Top navigation bar    -->
       <div class="navbar navbar-inverse  navbar-static-top" >
        
          <div class="container">
                 <a href  ="#" class="navbar-brand">Endomondo like </a>

                 <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                      <span class="icon-bar"> </span>
                      <span class="icon-bar"> </span>
                      <span class="icon-bar"> </span>
                 </button> 
                  
                 <div class="collapse navbar-collapse navHeaderCollapse">  
                   
                     <ul class="nav navbar-nav navbar-right">
                         <li > <a href="#">Home </a></li>
                         <li  class="dropdown"> <!--<a href="#">Social Media  </a> -->
                               <a href="#" class="dropdown"  data-toggle="dropdown">Social Media <b class="caret"></b></a>
                                <ul  class="dropdown-menu">
                                   <li><a href="#">Twitter   </a></li>
                                   <li><a href="#"> FaceBook  </a></li>
                                   <li><a href="#"> Google+ </a> </li>
                                   <li><a href="#"> Yahoo</a>  </li>
                                </ul>
                         </li>
                         <li> <a href="#">about </a></li>
                     </ul>
                 </div>
          </div>

       </div>
     
       <!--   effectif content   -->
       
       <div class="container">
         <div  class="jumbotron">
			 <section>
				 <article>
					   <h2>Endomondo community like tracking of sport</h2>
					   <p>  

							Track your workouts

							Challenge your friends

							Analyze your training
							With Endomondo on your phone, you can
							track your running, cycling and other sports. It's fun,
							it's social and it's motivating.  
					  </p>
					   <a  href="#/login" class="btn btn-default"> LOGIN</a>
					   <a href="#/signup" class="btn btn-info"> SIGN UP </a>
				</article>	   
				<aside>
						<p>
						<img src = "images/facadeEndo2.png"
						 alt = ""  />	
						</p>
					
			   </aside>
	       </section>
         </div>
      </div> 
      
      <div>
        (To delete )  </div>
        <a href ="#/routemapper"> watch route</a>
      </div>
      
       <div class="container">
             <div  class="row">
                   <div class="col-md-4">  
                       <h3><a href="#/displayusers"> Registred users  </a>  </h3>
                       <p> Watch the resgisterd users in this site , may be
                          will give you an idea the meet some one, or 
                          arrange  a challenge with him/ her in the future .. </p>
                       <a  href="#" class="btn btn-default">Read more </a>
                   
                   </div>
                   
                   <div class="col-md-4">  
                       <h3><a href="#/displayplans"> Existing challenges </a>  </h3>
                       <p> Watch the diffrents challengers that have been 
                        registered by our users, give you oppurtunity
                        to participate ..  </p>
                       <a  href="#" class="btn btn-default">Read more </a>
                   
                   </div>
                   <div class="col-md-4">  
                       <h3><a href="#"> View route </a>  </h3>
                       <p> </p>
                       <a  href="#/routemapper" class="btn btn-default">Read more </a>
                   
                   </div>
             </div>
             
             
            
       </div>
      
       <!-- End of effectif content  -->
       
       <!-- footer -->
       <div  class="navbar navbar-default navbar-fixed-bottom">  
            <div  class="container">
              <p  class="navbar-text">  Site built for endemondo sport tracking</p>
              <a href="http://youtube.com"  class="navbar-btn  btn-danger btn  pull-right"> Subscribe on Youtub</a>
              
             </div>
       </div>
       
    <!--   Put the scripts at the end so that the page load faster  -->
	     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	     <script src="views/js/bootstrap.js"></script>
    <!--   .....   -->
     
     

   </body>
</html>
