<!DOCTYPE html>
<html>
    <head> 
       <title> My Friend </title>
       <meta name="viewport"  content="width=device-width, initial-scale=1.0">
       <link href="views/css/bootstrap.min.css"  rel="stylesheet">
       <link href="views/css/style.css"  rel="stylesheet">
       <link rel="stylesheet" href="styles/main.css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
  
   <body> 
<table  width="100%">   
<tr>

 <td> <h1 color"Green"> My challengs :  </h1>  </td>
 <td> <a href="#/logged"> Home</a> </td> 
<tr>
</table>


<table class="table table-bordered table-striped table-hover">
	 <thead>
        <td>Title</td>
        <td>Sport  </td>
        <td> Start Date</td>
        <td> End  Date</td>
        <td> Note </td>
        <td> Route </td>
    </thead>
    <tbody>
		<tr ng-repeat="challenge in challenges"> 

		
				  <td> {{challenge.title}} </td>
				  <td>   {{challenge.sporttype}}</td>
				  <td>	 {{challenge.startdate}} </td>
				  <td>	 {{challenge.enddate}}</td>
				  <td>	 {{challenge.note}}</td>
                                  <td>  {{challenge.route}} </td>
		         <!-- <td><i class="icon-edit"></i></td>-->
                       
		        
		</tr>
   </tbody>
</table>


 <!-- footer -->
       <div  class="navbar navbar-default navbar-fixed-bottom">  
            <div  class="container">
              <p  class="navbar-text">  Site built for endemondo sport tracking</p>
              <a href="http://youtube.com"  class="navbar-btn  btn-danger btn  pull-right"> Subscribe on Youtub</a>
              
             </div>
       </div>
       
    <!--   Put the scripts at the end so that the page load faster  -->
	     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	     <script src="views/js/bootstrap.js"></script>
    <!--   .....   -->
     
     

   </body>
</html>
