<!DOCTYPE HTML>
<html>
<head>
    <title>OpenLayers Basic Example</title>
      <meta charset="utf-8">
	  <title>Top Animation</title>
	  <link rel="stylesheet" href="style.css">
	  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    
    
    <style>
    #mapdiv { width:600px; height:400px; }
    div.olControlAttribution { bottom:3px; }
    </style>

</head>

<body>
	
	Hello , He is your route </br>
	
	 <div  id="myroutes" >
					
					 
					 <ul id="listCoord">
					 
						<li data-ng-repeat="coord in route"> {{coord.longitude}} ,  {{coord.latitude}} </li>
					 </ul>    
    </div>
  
       <!--  now defining the script  -->   
   
     <script>
			var myVar=setInterval(function(){displayMap()},100);
            var  coordinateListLongValues =[];
            var  coordinateListLatitudeValues =[];
            
            function displayMap(){
			   var el = document.getElementById("listCoord").getElementsByTagName("*");
               
                   
				for (var i=0; i<el.length; i++) {
					var res = el[i].innerHTML.split(" , ");
					  coordinateListLongValues.push(parseFloat(res[0]));
                      coordinateListLatitudeValues.push(parseFloat(res[1]));
					//alert(parseFloat(res[0])+"--"+parseFloat(res[1]));
				}
		       clearInterval(myVar);
		       
		       // now we have the  data
		       
		        map = new OpenLayers.Map("mapdiv");
				var mapnik = new OpenLayers.Layer.OSM();
				map.addLayer(mapnik);
				var zoom = 13;
				var markers = new OpenLayers.Layer.Markers( "Markers" );
				map.addLayer(markers);
				
				for(var  i=0 ; i< coordinateListLongValues.length; i++){
					  
					   var lonlat = new OpenLayers.LonLat(coordinateListLongValues[i], coordinateListLatitudeValues[i] ).transform(
							new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
							new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator
						  );
					   markers.addMarker(new OpenLayers.Marker(lonlat));
					   map.setCenter(lonlat, zoom);
					}
				
        
				
		       
		     }
  
        </script>
    


<div id="mapdiv"></div>

   <input id="clickMe" type="button" value="clickme" onclick="displayMap();" >

</body>
</html>
